@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400&display=swap");
body {
  background-color: white;
  font-family: "Tajawal", sans-serif;
}
html {
  padding: 0;
  margin: 0;
}
section {
  margin: 10px;
  padding: 10px;
}
.imageHedare {
  width: 100%;
  height: 700px;
}
header {
  width: 100%;
  height: 700px;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}
.text1 {
  margin-top: 35px;
  position: relative;
  right: -300px;
  width: 60%;
  text-align: center;
  font-size: 20px;
}
.recipe-info {
  width: 400px;
  position: relative;
  text-align: center;
  right: -250px;
}
.text2 {
  margin-top: 35px;
  position: relative;
  right: -250px;
  width: 60%;
  font-size: 20px;
}
.text2 h3 {
  margin-left: 15px;
}
.rcooking-info {
  width: 400px;
  position: relative;
  text-align: center;
  right: -250px;
}
.Directions {
  position: relative;
  right: -250px;
}
.Directions h3 {
  font-size: 20px;
}
.Directions p {
  width: 50%;
  font-size: 20px;
}
